@import url(./fonts/index.css);
@import 'leaflet/dist/leaflet.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #919191;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #808080;
}
::-webkit-scrollbar-thumb:active {
    background: #666666;
}
::-webkit-scrollbar-track {
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
}
::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.leaflet-container a {
    color: unset;
}

.leaflet-popup {
    margin-bottom: 25px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    color: #fff;
    background-color: #373737;
}

.leaflet-bar a {
    background-color: #3f3f3f;
    color: #ffd500;
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content p {
    margin: 0;
}

.leaflet-container a.leaflet-popup-close-button {
    width: 32px;
    height: 32px;
    padding-right: 0;
    border-radius: 12px;
    font: 22px/19px Tahoma, Verdana, sans-serif;
}
::selection {
    color: none;
    background: none;
}
.rotate {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.expand-fab {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: 0;
    transition: all 0.2s ease !important;
}

.expand-fab {
    position: 'absolute';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: 0;
    transition: all 0.2s ease !important;
}

.collapse-fab {
    position: 'absolute';
    right: 14px;
    bottom: 58px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.2s ease !important;
}
